/*Colours
Pink: #C43654, rgb(196, 54, 84);
Dark Blue: #03071E, rgb(3, 7, 30);

light green: #22d47b;
light-grey: #f8faff;

font-dark-bold: 3a4348;
font-small-light: 81919a;

background-blue: rgb(30, 135, 240);
*/


body {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: 'Roboto', sans-serif;
}

/* Start Navbar Css */
.nav-container {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 60px;
	display: flex;
	align-items: center;
	z-index: 20;
	background-color: #FFFFFF;
	box-shadow: 0 1px 3px rgba(0,0,0,0.3);
}

.nav-logo {
	margin-left: 30px;
	margin-right: auto;
	font-family: brush-script-std,sans-serif;
  font-weight: 400;
  font-style: normal;
	font-size: 30px;
	letter-spacing: 4px;
  font-weight: 700;
  text-transform: uppercase;
  color: rgb(232,15,31);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #2998ff;
}

.nav-logo:hover {
	cursor: default;
}

.nav-content {
	display: flex;
	height: 100%;
	align-items: center;
	flex-direction: row;
}

.nav-item {
	font-size: 18px;
	height: 60px;
	display: flex;
	justify-content: center;
	align-items: center;
}

a {
	text-decoration: none;
	color: #3a4348;
	backface-visibility: hidden;
	transition: all .2s;
	border: none;
	padding-right: 30px;
	padding-left: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 90%;
	transition: all .2s;
	font-weight: 700;
	letter-spacing: 2px;
	text-transform: uppercase;
}

a:hover {
	cursor: pointer;
	color: #22d47b;
	transform: translateY(-1px);
}
.green-font {
	color: #2ed3ae;
	font-size: 30px;
	font-weight: 400;
	letter-spacing: 4px;
}
.blue-font {
	color: #3687D6;
	font-size: 30px;
	font-weight: 400;
	letter-spacing: 2px;
}
/* Burger Button */
.burger-icon {
  width: 40px;
  min-width: 40px;
  min-height: 40px;
  height: 40px;
  position: repative;
  border-radius: 8px;
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 3px 9px rgba(0,0,0,0.3);
  transition: all .2s;
  margin-right: 30px;
  z-index: 99999;
  background-color: #ffffff;
}

.burger-icon:hover {
  box-shadow: 0 6px 20px rgba(0,0,0,0.5);
  cursor: pointer;
}

.burger-bar {
  width: 30px;
  height: 2px;
  background-color: black;
  border-radius: 8px;
  margin-top:3px;
  margin-bottom: 3px;
  transition: all .2s;
}

.bottom {
  transform: rotate(45deg);
  position: absolute;
  margin-top:0;
  margin-bottom:0;
}

.top {
  transform: rotate(-45deg);
  position: absolute;
  margin-top:0;
  margin-bottom:0;
}

@media only screen and (max-width: 600px) {
	.nav-content-outer {
		position: fixed;
		top: 56%;
		left: 50%;
		transform: translate(-50%, -52%);
	}
	.nav-content {
		flex-direction: column;
		background-color: red;
		width: 100vw;
		height: calc(100vh - 60px);
		justify-content: center;
	}
	.nav-item {
		margin-right: 0;
		padding-top: 10px;
		padding-bottom: 10px;
		border-top: 1px solid orangered;
		border-bottom: 1px solid orangered;
		width: 100%;
		text-align: center;
	}
	.nav-item:first-child {
		margin-top: 0;
	}
	a {
		transition: all 0s;
	}
	.burger-icon {
		display: flex;
	}
}


/* END NAVBAR CSS */


/* Start Hero Section CSS */

.hero {
	background-size: cover;
	height: 90vh;
	position: relative;
	background-repeat: repeat;
	background-size: cover;
	background-repeat: no-repeat;
	background: linear-gradient(to right bottom, #2998ff, #5643fa);
	display: flex;
	justify-content: center;
	align-items: center;
  flex-direction: column;
}

.hero-title {
	color: #FFFFFF;
	text-transform: uppercase;
	text-align: left;
	font-size: 36px;
	font-weight: bold;
	font-family: 'Oswald', sans-serif;
	letter-spacing: 6px;
	margin-right: auto;
	margin-left: 36px;
  max-width: 60%;
  backface-visibility: hidden;
  animation-name: moveInLeft;
  animation-duration: 1s;
  animation-timing-function: ease-out;
}

.hero-subtext {
	color: #FFFFFF;
	text-align: left;
	font-size: 20px;
	font-weight: bold;
	letter-spacing: 2px;
	text-align: left;
	max-width: 50%;
	margin-right: auto;
  margin-left: 36px;
  backface-visibility: hidden;
  animation-name: moveInLeft;
  animation-duration: 1s;
  animation-timing-function: ease-out;
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); 
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(10rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: scale(0)
  }
  100% {
    opacity: 1;
    transform: scale(1)
  }
}

.section-text {
	color: #81919a;
	max-width: 800px;
	font-size: 18px;
	line-height: 1.7;
}

.hero-button-holders {
	display: flex;
	justify-content: center;
	align-items: center;
	max-width: 55%;
  margin-right: auto;
  backface-visibility: hidden;
  animation-name: moveInBottom;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  animation-delay: .5S;
  animation-fill-mode: backwards
}

.hero-button {
	padding-top: 12px;
	padding-bottom: 12px;
	font-size: 20px;
	width: 200px;
	border-radius: 12px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.3);
	margin-left: 36px;
	margin-top: 30px;
	background-color: transparent;
	border: none;
	color: #FFFFFF;
	border: 1px solid #FFFFFF;
	transition: all .2s;
}

.hero-button-one {
  background-color: #FFFFFF;
  border: 1px solid transparent;
  color: rgb(30, 135, 240);
  font-weight: 700;
}

.hero-button-two {
  margin-left: 24px;
  border: 2px solid #FFFFFF;
}

.hero-button:hover {
	transform: translateY(-1px);
	cursor: pointer;
	box-shadow: 0 3px 6px rgba(0,0,0,0.4);
}

.cta-button {
  background: linear-gradient(to right bottom, #2998ff, #5643fa);
  padding-top: 12px;
	padding-bottom: 12px;
	font-size: 20px;
	width: 200px;
	border-radius: 12px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.3);
	color: #FFFFFF;
	border: none;
	transition: all .2s;
  margin-top: 36px;
}

.cta-button:hover {
	transform: translateY(-1px);
	cursor: pointer;
	box-shadow: 0 3px 6px rgba(0,0,0,0.4);
}

.computer-image {
	width: 45%;
	height: auto;
	position: absolute;
	bottom: -7%;
	right: 0;
  z-index: 10;
  backface-visibility: hidden;
  animation-name: fadeIn;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  animation-delay: .5S;
  animation-fill-mode: backwards
}

.card-header {
	color: #3a4348;
}
.card-text {
	padding-left: 12px;
	padding-right: 12px;
	color: #81919a;
	text-align: center;
}
/* WELCOME SECTION*/
.welcome-section {
	background-color: #f8faff;
	width: 100%;
	height: calc(100vh - 60px);
	position: relative;
}

.services {
	width: 100%;
	background-color: #FFFFFF;
	height: 100%;
	min-height: 100vh;
}

.services-cards-holder {
	max-width: 1000px;
	width: 80%;
	margin-bottom: 24px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
}

.services-card {
	height: 300px;
	width: 30%;
	max-width: 240px;
	min-width: 240px;
	margin-top: 12px;
	border-radius: 6px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.3);
	display: flex;
	align-items: center;
	flex-direction: column;
}
.card-icon {
	color: rgb(46,189,196);
	margin-top: 36px;
	font-size: 48px;
}

.why-choose-us {
	width: 100%;
	height: calc(100vh - 60px);
	background-color: white;
	position: relative;
}

.inner-container {
	width: 100%;
	height: 100%;
	max-width: 1000px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-direction: row;
	margin: 0 auto;
}

.dashboard-image {
	width: 60%;
	height: auto;
}

.section-content {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.section-side-content {
	padding-left: 12px;
	padding-right: 12px;
	color: #81919a;
}

.parallax-section {
  background: linear-gradient(to right bottom, rgba(41,152,255,0.7), rgba(41,152,255,0.7));
  width: 100%;
  height: calc(100vh - 60px);
  position: relative;
}


.stress-less-title {
	color: #FFFFFF;
	font-size: 48px;
	font-family: 'Oswald', sans-serif;
	letter-spacing: 4px;
}

.stress-sub-text {
	color: #FFFFFF;
	font-size: 24px;
	max-width: 80%;
}

.testimonials {
	width: 100%;
	background-color:  #f8faff;
	height: 100%;
}

.textimonials-cards {
	width: 80%;
	max-width: 1000px;
	margin: 24px auto;
	height: 400px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
}

.test-card {
	position: relative;
	width: calc((100% / 3) - 24px);
	min-width: 280px;
	height: 100%;
	border-radius: 6px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.2);
	margin-bottom: 12px;
	background-color: #FFFFFF;
	display: flex;
	justify-content: center;
	align-items: center;
}

.quote-holder {
	background-image: linear-gradient(to bottom left, rgba(46,189,196,0.8), rgba(104,229,178,0.8));
	width: 70px;
	height: 70px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	position: absolute;
	top: -35px;
	left: 50%;
	transform: translate(-50%, 0%);


}

.quote {
	font-size: 30px;
	color: #FFFFFF;
}

.testimonials-content{
	color: #81919a;
	padding-left: 12px;
	padding-right: 12px;
}

.flex {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.flex-center {
	justify-content: center;
}

.section-small-heading {
	text-align: center;
	color: rgb(46,189,196);
	font-weight: 200;
}

.section-large-heading {
	font-family: 'Oswald', sans-serif;
	color: #3a4348;
	margin-top: 12px;
	text-align: center;
	font-size: 30px;
	font-weight: 400;
	letter-spacing: 2px;
}

.farewell-section {
	background-color: #FFFFFF;
	width: 100%;
	height: calc(100vh - 60px);
	position: relative;
}


.footer {
	width: 100%;
  background: linear-gradient(to right bottom, #2998ff, #5643fa);
  height: 50vh;
}

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 1;
  overflow: hidden; 
}
.bg-video__content {
  height: 100%;
  width: 100%;
  object-fit: cover;
}







